<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="carousel" id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="3000">
            <img src="/static/bg_done.png" class="d-block w-100" alt="..." style="height: 880px;">
        </div>
        <!--
        <div class="carousel-item" data-bs-interval="3000">
            <img src="/static/maxresdefault.jpg" class="d-block w-100" alt="..." style="height: 1000px;">
        </div>
        <div class="carousel-item">
            <img src="/static/MBB-WBB_BallHoop.jpg" class="d-block w-100" alt="..." style="height: 1000px;">
        </div>
        -->
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
</body>
</html>