<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="body-footer" th:fragment="footer" class="container-footer bg-sajatszin">
    <div class="container-fluid">
        <div class="row also bg-sajatszin">
            <div class="col-md-2">

            </div>
            <div class="col col-md-4 p-4 ">
                <h4 class="fw-bold text-light">BASKETBALL MARKET</h4>
                <h6 class="text-light">Nyilvántartásunkban szereplő személyek, akik kosárlabdával foglalkoznak könnyebben találjanak munkát vagy csapatot a lehetőségeiknek megfelelően</h6>
            </div>
            <div class="col-md-2">

            </div>
            <div class="col col-md-4 p-4">
                <h5 class="fw-bold text-light">ELÉRHETŐSÉG:</h5>
                <img width="48" height="48" src="https://img.icons8.com/fluency/48/facebook-new.png" alt="facebook-new"/>
                <img width="48" height="48" src="https://img.icons8.com/fluency/48/instagram-new.png" alt="instagram-new"/>
                <img width="48" height="48" src="https://img.icons8.com/color/48/twitter--v4.png" alt="twitter--v4"/>
            </div>
            <div class="col-md-2">

            </div>
        </div>
    </div>
<script src="/static/footer.js">
</script>
</div>
</body>
</html>