<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="modal">
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <form th:action="@{/login}" method="post">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Bejelentkezés</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div th:if='${error.equals("loginError")}' class="alert alert-danger">
                            Hibás fehasználónév vagy jelszó!
                        </div>
                        <table class="table">
                            <tbody>
                            <tr>
                                <th scope="row">Email</th>
                                <td><input class="form-control" name="username" type="email"></td>
                            </tr>
                            <tr>
                                <th scope="row">Jelszó</th>
                                <td><input class="form-control" name="password" type="password"></td>
                            </tr>
                            <tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Mégse</button>
                        <input value="belépés" type="submit" class="btn btn-primary">
                    </div>
                </div>
            </div>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        </form>
    </div>

</div>
</body>
</html>