.buborek{
    width: 180px;
    height: 180px;
}
.also{
    
}
.bg-sajatszin{
    background-color: rgb(58, 107, 86);
}

.container-body{
min-height: 85vh;
}
.container-footer{
    min-height: 15vh;
    
}
.pagination-center{
    justify-content: center !important;
}