.buborek{
    width: 180px;
    height: 180px;
}

.bg-sajatszin{
    background-color: rgb(58, 107, 86);
}

.pagination-center{
    justify-content: center !important;
}

#body-footer {
    position: absolute;
    width: 100%;
    bottom: 0px;
    background-color: darkmagenta;
}

.body-footer-block {
    position: relative !important;
    bottom: auto !important;
}