<!DOCTYPE html>
<html lang="en">
<head th:replace="components/head::header">

  <title>Document</title>

</head>
<body>
  <div id="body-content">
    <!--        navbar.html - fragment navbar-->
    <div th:insert="components/navbar :: navbar">

    </div>

    <div th:insert="components/carousel :: carousel" id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">

    </div>

      <div class="container-fluid">
        <div class="row bg-dark">
          <div class="col-md-12">
            <h1 class="text-light text-center mt-4">BASKETBALL MARKET</h1>
            <h2 class="text-light text-center mt-4">Nemzetközi szinten képviseli a játékosokat és az edzőket</h2>
          </div>
        </div>
        <div class="row bg-dark">
          <div class="col-md-4 rounded-circle">
            <div class="buborek bg-danger rounded-circle mx-auto d-table mb-4">
              <div class="text-center align-middle d-table-cell text-light">
                <h2>Játékosok<br><span th:text="${homeData.getPlayer()}"></span></h2>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="buborek bg-danger rounded-circle mx-auto d-table mb-4">
              <div class="text-center align-middle d-table-cell text-light">
                <h2>Edzők<br><span th:text="${homeData.getCoach()}"></span></h2>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="buborek bg-danger bs-danger-border-subtle rounded-circle mx-auto d-table mb-4">
              <div class="text-center align-middle d-table-cell text-light">
                <h2>Klubok<br><span th:text="${homeData.getClub()}"></span></h2>
              </div>
            </div>
          </div>
        </div>
        <div th:insert="components/registeredPlayer :: registeredPlayer" class="row bg-dark">

        </div>
        <div th:insert="components/registeredCoach :: registeredCoach" class="row bg-dark">

        </div>
        <div th:insert="components/club :: club" class="row bg-dark">

        </div>
    </div>
  </div>
  <div th:insert="components/footer::footer">

  </div>
  <div th:insert="components/modal::modal">

  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <script src="/static/login-modal-auto-open.js" defer></script>
</body>
</html>