<!DOCTYPE html>
<html lang="en">
<head th:replace="components/head::header">

    <title>Document</title>

</head>
<body class="bg-dark">
<div th:insert="components/navbar::navbar">

</div>
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 text-light text-center mt-4">
                <H3>JÁTÉKOSOK</H3>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 bg-white text-dark text-center mt-4 rounded m-4  p-4">
                <form class="mb-3 fw-bold" action="">
                    Név: <input type="text" name="név">
                    Életkor: <input type="number" name="életkortol" > - <input type="number" name="életkorig">
                    Szerződés: <input type="checkbox" name="szerződés">
                    <a class="btn btn-primary text-light" href="#" role="button">Szűrés</a>
                </form>
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col">Név</th>
                        <th scope="col">Életkor</th>
                          <th scope="col">Csapat</th>
                        <th scope="col">Szerződés</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr class="coach-row-table" data-bs-toggle="modal" data-bs-target="#exampleModal" th:each="player, playerStat : ${players}" th:data-id="${player.getId()}" th:data-name="${player.getUser().getName()}" th:data-birthday="${player.getUser().getDate()}"  th:data-email="${player.getUser().getEmail()}" th:data-height="${player.getHeight()}" th:data-weight="${player.getWeight()}" th:data-position="${player.getPosition()}" th:data-min-salary="${player.getMinSalary()}" th:data-hand="${player.getHand()}" th:data-contract="${player.isContract()}">
                            <th th:text="${player.getId()}" scope="row"></th>
                            <td th:text="${player.getUser().getName()}"></td>
                            <td th:text="${player.getUser().getDate()}"></td>
                            <td th:text="${player.getTeam().getName()}"></td>
                            <td th:text='${player.isContract() ? "Van" : "Nincs"}'></td>
                        </tr>
                    </tbody>
                  </table>

                <nav aria-label="...">
                    <ul class="pagination pagination-lg pagination-center">
                        <li th:each="pageIndex : ${#numbers.sequence(1, pages)}" th:class='${currentPage == pageIndex ? "page-item active" : "page-item"}' >
                            <a class="page-link" th:href='${"?page="+pageIndex}' th:text="${pageIndex}"></a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-2"></div>
        </div>

        <div th:insert="components/profileDetails::profileDetails">

        </div>
        <script src="/static/player-table-loader.js" defer></script>

    </div>
</body>
</html>