<!DOCTYPE html>
<html lang="en">
<head th:replace="components/head::header">

    <title>Document</title>

</head>
<body>
  <div id="body-content">
      <div th:insert="components/navbar :: navbar">

      </div>
      <div class="container-fluid">
        <div class="row">
            <div class="col-md-1">
            
            </div>
            <div class="col-md-10">
                <h2>
                    Regisztráció
                </h2>
                <table class="table w-50 mx-auto">
                    <tbody>
                      <tr>
                        <th scope="row">Felhasznalónév</th>
                        <td><input type="text" /></td>
                      </tr>
                      <tr>
                        <th scope="row">Email</th>
                        <td><input type="email"></td>

                      </tr>
                      <tr>
                        <th scope="row">Jelszó</th>
                        <td><input type="password"></td>
                      </tr>
                      <tr>
                        <th scope="row">Jelszó megerősítés</th>
                        <td><input type="password"></td>
                      </tr>
                      <tr>
                        <th scope="row">Profil kép</th>
                        <td><input type="file"></td>
                      </tr>
                      <tr>
                        <th scope="row">Születési dátum</th>
                        <td><input type="date"></td>
                      </tr>
                      <tr>
                        <th><a class="btn btn-primary text-light" href="#" role="button">Regisztrálás</a></th>
                        <th><a class="btn btn-primary text-light" href="#" role="button">Kilép</a></th>
                      </tr>
                    </tbody>
                  </table>
            </div>
            <div class="col-md-1">
                
            </div>
        </div>
      </div>
  </div>
  <div th:insert="components/footer::footer">

  </div>
</body>
</html>